.container{height: 75px;
    width: 1600px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #222222;
}
.forma1{height: 38px;
    width: 44px;
    left: 231px;
    top: 18px;
    border-radius: 0px;
    position: absolute;}
    .forma2{height: 26.791973114013672px;
        width: 26.001638412475586px;
        left: 315.998046875px;
        top: 28.2109375px;
        border-radius: 0px;
        position: absolute;background: #E8E8E8;
    }
    .forma3{height: 23px;
        width: 32px;
        left: 1201px;
        top: 30px;
        border-radius: 0px;position: absolute;
        background: #E8E8E8;
}.forma4{height: 29px;
    width: 29px;
    left: 1266px;
    top: 26px;
    border-radius: 0px;
    background: #E8E8E8;position: absolute;
}.forma5{height: 37.00000762939453px;
    width: 41.001953125px;
    left: 1328px;
    top: 18px;
    border-radius: 0px;
    position: absolute;}
    .layer-57{height: 764px;
        width: 800.5800170898438px;
        left: 0px;
        top: 75px;
        background: #F1E4E6;

        }
            .content{display: flex;height: 764px;
                width: 1600px;
                left: 0px;
                top: 75px;
                border-radius: 0px;
                background: #F1E4E6}


        .item-flex{height: 764px;
            width: 1600px;
            left: 0px;
            top: 75px;
            border-radius: 0px;background: #F1E4E6;

            }
            .logo{height: 93px;
                width: 377px;
                left: 892px;
                top: 365px;
                background: #F1E4E6;
                position: absolute;

                }
                .group36{margin 
                    :446px 1000px 30px 230px ; display: flex;height: 180px;
                    width: 1140px;
                    left: 260px;
                    top: 1194px;
                    border-radius: 0px;
                }                    
                
                  .group37{height: 260px;
                    width: 360px;
                   
                    }
                    .group38{height: 260px;
                        width: 360px;
                        
                        }
                        .group39{height: 260px;
                            width: 360px;}