
.header{ background: #222222;height: 75px;width: 1663px;}
.container{height: 75px;
    width: 1663px;
    
   ;
}
.forma1{height: 38px;
    width: 44px;
    left: 231px;
    top: 18px;
    border-radius: 0px;
    position: absolute;}
    .forma2{height: 50.791973114013672px;
        width: 50.001638412475586px;
        left: 315.998046875px;
        top: 28.2109375px;
        
        position: absolute;
        
    }
    
    .forma3{height: 32px;
        width: 32px;
        left: 1201px;
        top: 30px;
        border-radius: 0px;position: absolute;
        background: #E8E8E8;
}.forma4{height: 29px;
    width: 30px;
    left: 1266px;
    top: 26px;
    border-radius: 0px;
    background: #E8E8E8;position: absolute;
}.forma5{height: 37.00000762939453px;
    width: 41.001953125px;
    left: 1328px;
    top: 18px;
    border-radius: 0px;
    position: absolute;}
    .layer-57{height: 764px;
        width: 800.5800170898438px;
        left: 0px;
        top: 75px;
        background: #F1E4E6;

        }
            .content{display: flex;height: 764px;
                width: 1663px;
               
                
                background: #F1E4E6}


       .item-flex{ 
            
           
           background: #F1E4E6;

            }
            .logo{height: 93px;
                width: 377px;
                left: 892px;
                top: 365px;
                background: #F1E4E6;
                position: absolute;

                }
                .group{ margin 
                    :65px 230px 30px 230px ;
                    
                    
                
                }    .group1{ height: 260px;
                    width: 1140px;margin:  65px 30px 30px 30px ;
            border-radius: 0px;background: #ffff;
                display: flex;justify-content: space-between;
                
                
                    
                    }                
                
                  .group37{height: 260px;
                    width: 360px;position: relative;
                   
                    
                   
                    }
                    .group37text{position: absolute;height: 100px;display: flex;align-items: center;
                        width: 154px;border: 1px solid rgb(218, 212, 212);
                    
                        top: 80px;
                        left: 110px;
                        border-radius: nullpx;
                        
                                justify-content: center;}
                        .textOFF{font-family: Lato;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: center;color: #FFFFFF;
                            
                           
                            }
                            .textFOR{font-family: Lato;
                                
                                
                                font-family: Lato;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 29px;
                                letter-spacing: 0em;
                                text-align: center;
                                color: crimson;}
                              
                                .img layer{width: 100%;}
                                .anc-txt{text-decoration: none;}
                               
.group37:hover{filter: brightness(40%);}


                       
                       
                    .group38{height: 260px;
                        width: 360px;
                        
                        }
                        .group39{height: 260px;
                            width: 360px;}
                            .group40{
                                height: 180px;
                             width: 1140px;
                             left: 268px;
                              top: 1194px;
                              border-radius: 0px;position: absolute;
                              

                                }
                                .group37text:hover{box-shadow:   0 0 10px; color: #FFFFFF;}

                           .lux{height: 50px;
                            
                           margin: -160px 500px 30px 500px;
                            
                            border-radius: nullpx;height: 100px;align-items: center;
                            width: 240px;border: 1px solid rgb(218, 212, 212);
                        
                            top: 80px;
                            left: 110px;
                            border-radius: nullpx;
                            
                                    justify-content: center;}
                                    .lux:hover{box-shadow:   0 0 10px; color: #ffff;}
                            .group40:hover{filter: brightness(40%);}
                            
                                           
              
                .fet-items{
                    
                    padding: 200px 260px 180px 260px;
                    }.container-fet{
                       display: flex;justify-content: space-between;flex-wrap: wrap;}  
                        .fw-box{height: 50px;
                        width: 100%;text-align: center;
                    
                        
                        }
                        fw-heading{font-family: Lato;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 400;
                           
                            }
                        .fw-price{height: 50px;
                            width: 100%;
                            
                           
                            text-align: center;
                            }

                        .fw-par{font-family: Lato;
                            font-size: 14px;
                            font-style: normal;
                            
                            
                           
} 
                      
                                          
                       
                            
                    .product-box{height: 581px;
                        width: 360px;
                        left: 230px;
                        top: 1577px;
                        border-radius: 0px;margin-top: 100px;
                        }    
                        .product-add{text-decoration: none;}  
                    
                    
                    
                        .product-box:hover{box-shadow: 0 0 30px;}
                        .product-box-layer51{background-color: #F7E4E2;display: flex 
                            ;justify-content: center;}
                            .product-heading{font-family: Lato;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16px;
                                letter-spacing: 0em;
                                text-align: left;color: black;
                                }
                                .product-prg{font-family: Lato;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 17px;
                                    letter-spacing: 0em;
                                    text-align: left;color: #5D5D5D;
                                    ;
                                    }
                           
                            .product-price{height: 19px;
                                width: 52px;font-family: Lato;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0em;
                                text-align: left;
                                
                                color:  #F16D7F;
                                ;text-decoration: none;
                                }
                                .feature{height: 341px;
                                    width: 1663px;
                                   
                                    top: 2960px;
                                    border-radius: 0px;
                                    background: #222224;


}
.red-border{
    height: 48px;
width: 250px;margin: 20px 250px 30px 700px

;border: 3px solid  #F26376;
;}
.anc-brow{text-decoration: none;}

    
    .brow{display: flex;justify-content: center;height: 19px;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        color:  #F26376;

        
        }
        .footer{height: 730px; width: 1663px;}

.feature{display: flex;justify-content:space-around;}
                            
.feature-box{height: 134.00390625px;
    width: 360px;
    margin-top: 100px;border: 1px solid rgb(247, 240, 240);;

    }
    .layer41{margin-bottom: 0px;;width: 1663px;display: flex;justify-content: space-between;}
.layer41-img{width: 100%;
    }
    .info-box{height: 224px;
        width: 359px;
        left: 230.287109375px;
       margin: -350px 200px
       ;
        }
        .woman{height: 153.83132934570312px;
            width: 154.0238800048828px;margin: 10px 20px 10px 120px;}
            .par-woman{font-family: Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                color:#FFFFFF;

                }
                .sub{
                    font-family: Lato;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: 0em;
                    text-align: center;
                    
                  
                    }
                    .input{height: 49px;
                        width: 256px;
                        left: 917px;
                        top: 243px;
                        border-radius: 0px;
                        }
                        
                    .form-label{height: 30px;
                        width: 100px;margin: -5px;
                        
                        ;color:#FFFFFF;
                        border-radius: 0px 10px 10px 0px;
                         background: #F16D7F;
                        ;}
           
        .brand{height: 79px;
            width: 1663px;background: #222224;
            ;

   
  
    }
.form-input{border-radius: 10px 0 0 10px;}


















            .brand{display: flex;justify-content:space-around;}
            .copyrite-box{height: 19px;
                width: 332px;
                left: 235px;margin-top: 30px;
                text-align: center;
            
}
.copyrite{font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;color: #FFFFFF;}
                .icons-box{height: 35px ;width: 150px;right: 345px;margin-top: 22px;display: flex;justify-content: space-between ;}
                
                .icons{height: 32px;
                    width: 31.450586318969727px;
                    left: 1222px;
                    top: 3773px;display: flex;justify-content: center;
                    border-radius: 0px;
                    }
                    .face:hover {box-shadow: 0 0 35px;color: aqua;}
                    .arriv{height: 148px;
                        width: 1663px;
                        left: 0px;
                        margin-bottom: 0px;background: #F8F3F4;
                        border-radius: 0px;
                        position: absolute;display: flex;justify-content: space-between;}

                        .arriv-box{height: 29px;
                            width: 194px;
                            
                            border-radius: nullpx; margin: 59px 500px 60px -1300px;
                            }
                            .anc-box{text-decoration: #F1E4E6;}

                        .par-arriv{font-family: Lato;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 29px;
                            letter-spacing: 0em;
                            text-align: left;color: #F16D7F
                            ;height: 29px;
                            width: 194px;
                          
                            
                           

                            }
                            .arriv-home{height: 80px;
                                width: 250px;
                                margin: 50px 200px 65px -1161px; display: flex; justify-content: space-between;
                            }
                            
                            
                                
                                .par-home{font-family: Lato;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 29px;
                                    letter-spacing: 0em;
                                    height: 17px;
                                    width: 280px;                          
                                  color: #F16D7F;

                                    

}
.anc-home{text-decoration: none;display: flex;width:100%;height: 25px;
    }
.par-home-man{font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    height: 17px;
    width: 150px;
    color: #222224;}


                    
                        
                        
                        
                        
                        
                        
                        
                   